.galleryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px; /* Menambahkan jarak di kanan dan kiri */
}

/* styles/Gallery.module.css */
.masonryGrid {
  display: flex;
  margin-left: -30px; /* compensate the gap between columns */
  width: auto;
}

.masonryGridColumn {
  padding-left: 30px; /* gap between columns */
  background-clip: padding-box;
}

.imageWrapper {
  margin-bottom: 30px; /* gap between items */
  overflow: hidden;
  border-radius: 10px; /* optional for rounded corners */
}

.galleryImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.galleryImage:hover {
  transform: scale(1.05); /* Zoom effect on hover */
  filter: brightness(0.8);
}

/* Media query untuk layar kecil (mobile) */
@media (max-width: 768px) {
  .galleryContainer {
    padding: 0 20px; /* Jarak di kanan dan kiri di layar kecil */
  }
}
