@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.flowerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.flower {
  position: absolute;
  top: -10vh;
  width: 30px;
  height: 30px;
  background-image: url("/images/bunga.webp"); /* Gambar bunga */
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  transform: rotate(50deg);
}

@font-face {
  font-family: "Great Vibes";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/GreatVibes-Regular.ttf);
}

@font-face {
  font-family: "Holy Friday";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Holy-Friday.otf);
}

@font-face {
  font-family: "Challista Script";
  src: url(/fonts/Challista.otf);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .pasangan-pria {
    background-image: url(/images/reiki.jpg);
    transition: 0.7s;
  }
  .pasangan-wanita {
    background-image: url(/images/irma.jpg);
    transition: 0.7s;
  }
}
